.body {
    /* background-color: #100e17; */
    font-family: "Open Sans", sans-serif;
    /* margin-top :100px */
    margin-left: -180px;
  }
  
  .container {
    height: 500px;
    
    width: 1500px;
    top: 60px;
    left: calc(20% - 200px);
    display: flex;
  }

  .card {
    display: flex;
    height: 480px;
    width: 1500px;
    background-color: #17141d;
    border-radius: 25px;
    box-shadow: -2rem 0 3rem #000;
    /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: -30px;
  }
  
  .card:not(:first-child) {
    margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
   
  }
  
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 1450px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 1000px;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 10px;
    height: 100%;
    background: rgb(0, 154, 217);
    background: linear-gradient(
      90deg,
      rgba(0, 154, 217, 1) 0%,
      rgba(217, 147, 0, 1) 65%,
      rgba(255, 186, 0, 1) 100%
    );
    transition: 0.6s ease-out;
  }
  
  .card:hover .filledbar {
    width: 1450px;
    transition: 0.4s ease-out;
  }
  
  .circle {
    position: absolute;
    top: 150px;
    left: calc(20% - 60px);
    color: white;
    display: grid;
    align-items: start;
    justify-items: start;
   
  }
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
    background-color:red;
  }
  
  svg {
    fill: #17141d;
    stroke-width: -12px;
  }
  
  .card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
    
   
  }
  